* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 234, 234);
}

.flex {
  
  background-color: rgb(238, 234, 234); 
  margin: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  
}

.card {
  background-color: white;
  width: 300px;
  min-height: 350px;

  text-align: center;
  text-decoration-line: none;
  
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
